@model IEnumerable<BeverageManagement.Models.EntityModel.Employee>

<div class="form-horizontal">
    <h4>Employee</h4>
    <hr />
    @ViewBag.token
    @*@Html.Hidden("empoyeesIds", employeesIdsList)*@
    <label>Subject</label>
    <input type="text" class="form-control full-width" name="emailSubject" value="Payment of Beverage"><br>

    <label>Body</label>
    <textarea class="tinymce" name="emailBody">
        
        @ViewBag.employeesListHtml
        
    </textarea>
    
</div>
a= "" +
  "" +