@model IEnumerable<BeverageManagement.Models.EntityModel.Employee>

@{
    ViewBag.Title = "Process Payment";
    string employeesIdsList = ViewBag.employeesIdsList;
    ViewBag.employeesListHtml = Html.Partial("_ListOfEmployees");
    ViewBag.token = Html.AntiForgeryToken();
}
<h2>@ViewBag.Title</h2>
@ViewBag.employeesListHtml
@using (Html.BeginForm())
{
    
    @Html.Partial("_EmailEditor")
    
    <br />
    <div class="form-group">
        <button class="full-width btn-success btn">
            <i class="@FaIcons.Send"></i>
            Send Email
        </button>
    </div>
}